
html, body {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    color: var(--dark);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: white;
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: var(--dark);
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--primary);
    transform: translateY(-2px);
    transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;   
}

.logo:hover {
    transform: translateY(-2px);
    transition: transform 0.3s, box-shadow 0.3s;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 42px;
    background-color: ghostwhite;
    border: 2px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}